services:
  web-app:
    image: nginx:alpine
    container_name: web-app
    networks:
      - vlan10
    ports:
      - "8080:80"

  db:
    image: mysql:8.0
    container_name: db
    environment:
      MYSQL_ROOT_PASSWORD: root
    networks:
      - vlan20

  monitor:
    image: ubuntu:latest
    container_name: monitor
    command: sleep infinity
    networks:
      - vlan10
      - vlan20
      - vlan30
    privileged: true  # permite manipular iptables

networks:
  vlan10:
    driver: bridge
  vlan20:
    driver: bridge
  vlan30:
    driver: bridge
